//variables :

//// Colors :
$body_background__color: rgb(242, 240, 240);
$body__color: rgb(0, 8, 34);
$anchor-color: rgb(12, 26, 61);
$header-back-anchor: rgb(115, 240, 119);

//// Fonts :
$primary__font: Helvetica, sans-serif;

//// Weights :
$weight-heading: 900;
$weight-paragraph: 400;
$weight-light: 500;

//// Display :
$Flexibility: flex;
$Flexibility-columns: column;
$Flexibility-rows: row;
